data/simulation/output/hpo_lmdb/shard_0/data.mdb
wandb/**
.cursor/**
__pycache__/
*.py[cod]
*.pyo
*.pyd
.python-version
.venv/


# Generated simulation artifacts
data/simulation/output/simulated_patients_all_*.json
data/simulation/output_jax_npz*/
